# Todoist
TODOIST_API_TOKEN=

# Google Calendar
GCAL_CLIENT_ID=
GCAL_CLIENT_SECRET=
GCAL_REFRESH_TOKEN=
GCAL_CALENDAR_ID=primary

# Fireflies
FIREFLIES_API_KEY=

# Timezone (IANA format)
TIMEZONE=Asia/Kolkata

# Todoist Project
TODOIST_PROJECT_ID=6g8q49QQxHrFxRFx
